/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [ChatbotDB]    Script Date: 7/31/2019 11:01:28 AM ******/
CREATE DATABASE [ChatbotDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatbotDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ChatbotDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChatbotDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ChatbotDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatbotDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatbotDB]
GO
USE [ChatbotDB]
GO
/****** Object:  Table [dbo].[ChatbotTable$]    Script Date: 7/31/2019 11:01:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotTable$](
	[monitors_no] [nvarchar](255) NULL,
	[measurment] [nvarchar](255) NULL,
	[touchscreen] [nvarchar](255) NULL,
	[category] [nvarchar](255) NULL,
	[portablity_true] [nvarchar](255) NULL,
	[feature_true] [nvarchar](255) NULL,
	[size_true] [nvarchar](255) NULL,
	[feature_2] [nvarchar](255) NULL,
	[feature_3] [nvarchar](255) NULL,
	[portablity_2] [nvarchar](255) NULL,
	[ante/intrapartum] [nvarchar](255) NULL,
	[display_mode] [nvarchar](255) NULL,
	[weights] [nvarchar](255) NULL,
	[feature_4] [nvarchar](255) NULL,
	[invasive_bp] [nvarchar](255) NULL,
	[co2_measurment] [nvarchar](255) NULL,
	[nbp_measurment] [nvarchar](255) NULL,
	[speed] [nvarchar](255) NULL,
	[storage_size] [nvarchar](255) NULL,
	[monitors_name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
