<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="LoggerContractsLib.ILoggerContract,LoggerContractsLib" mapTo="ConsoleLoggerLib.ConsoleLogger,ConsoleLoggerLib">
      </register>
      <register type="InputValidatorContractLib.IInputValidatorContract,InputValidatorContractLib" mapTo="InputValidatorLib.InputValidator,InputValidatorLib">
      </register>
      <register type="InputReaderContractsLib.IInputReaderContract,InputReaderContractsLib" mapTo="ConsoleInputReaderLib.ConsoleInputReader,ConsoleInputReaderLib">
      </register>
      <register type="SelectedItemsContractLib.ISelectedItemsContract,SelectedItemsContractLib" mapTo="SelectMonitorsLib.SelectMonitors,SelectMonitorsLib">
      </register>
      <register type="DataAccessLayerContractLib.IDataAccessLayerContract,DataAccessLayerContractLib" mapTo="DbDataAccessLayerLib.DbDataAccessLayer,DbDataAccessLayerLib">
      </register>
      <register type="ChatBotProcessorLib.ChatBotProcessor,ChatBotProcessorLib" mapTo="ChatBotProcessorLib.ChatBotProcessor,ChatBotProcessorLib">
      </register>
    </container>
  </unity>
</configuration>